<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>

    <link href="/assests/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/assests/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body style="display: flex; justify-content: center; margin: 200px">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <center>
          <img src="./assests/logo.jpg" height="50" style="margin: 20px" />
        </center>
        <h5 class="card-title">Banao-Node.js Development (N1)</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          Ajay Panchal || Banao-Node.js Development (N1)
        </h6>
        <p class="card-text">
          This is the ATG Internshala Assignment of N-1 Group Nodejs
        </p>
        <a href="/task1" class="card-link">Task 1</a>
        <a href="/home" class="card-link">Task 2</a>
        <h6>jwt Token is applyed for all required api task is completed</h6>
        <h6>Data encryption for user information task is completed</h6>
        <a href="/home" class="card-link">Task 3 </a>
      </div>
    </div>
  </body>
</html>
