<!DOCTYPE html>
<html>
  <head>
    <title>Assignment</title>
  </head>
  <body>
    <div style="margin: auto; width: 600px">
      <h1>This is the Assignment</h1>
      <b>
        <pre>
Node.js (Task 1)  Ajay Panchal || Whatsapp NO:8570091377 ||  Group :N1
Task 1: 

Created APIs for 

1.1 User Registration using Email Password and username 

1.2 User Login using username and password 

1.3 Forget User password API

</pre
        >
      </b>
      <ol>
        <li>
          <h5>Register new user Api</h5>
          <a
            href="/api/register?Email=demo@gmail.com&Name=Demo&Username=Demo123&Password=demo"
            >/api/register?Email=email&Name=name&Username=username&Password=password</a
          >
        </li>
        <li>
          <h5>Login using Email Api</h5>
          <a href="/api/login?Email=demo@gmail.com&Password=demo"
            >/api/login?Email=email&Password=password</a
          >
        </li>
        <li>
          <h5>Login using Username Api</h5>
          <a href="/api/login?Username=Demo123&Password=demo"
            >/api/login?Username=username&Password=password</a
          >
        </li>
        <li>
          <h5>GET User by JWT Token</h5>
          <a href="/token/put_token">/token/put_token</a>
        </li>
        <li>
          <h5>All User Api</h5>
          <a href="api/users">api/users</a>
        </li>
        <li>
          <h5>GET User by id Api</h5>
          <a href="api/users/_id">api/users/_id</a>
        </li>
        <li>
          <h5>GET User by Email Api</h5>
          <a href="api/users/Email">api/users/Email</a>
        </li>
        <li>
          <h5>GET User by Username Api</h5>
          <a href="api/users/Username">api/users/Username</a>
        </li>
        <li>
          <h5>Forgot Password using Username Api</h5>
          <a href="api/forgot-password/?Username=Demo123"
            >/api/forgot-password/?Username=username</a
          >
        </li>

        <li>
          <h5>Forgot Password using Email Api</h5>
          <a href="api/forgot-password/?Email=demo@gmail.com"
            >api/forgot-password/?Email=email</a
          >
        </li>
      </ol>
    </div>
  </body>
</html>
